<%= form_for(@activity_receipt) do |f| %>
  <% if @activity_receipt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity_receipt.errors.count, "error") %> prohibited this activity_receipt from being saved:</h2>

      <ul>
      <% @activity_receipt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :amount %><br>
    <%= f.number_field :amount %>
  </div>
  <div class="field">
    <%= f.label :activity_id %><br>
    <%= f.number_field :activity_id %>
  </div>
  <div class="field">
    <%= f.label :time_stamp %><br>
    <%= f.datetime_select :time_stamp %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
