<h1>Listing bounties</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Value</th>
      <th>Deadline</th>
      <th>Type</th>
      <th>Author</th>
      <th>Recipient</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bounties.each do |bounty| %>
      <tr>
        <td><%= bounty.description %></td>
        <td><%= bounty.value %></td>
        <td><%= bounty.deadline %></td>
        <td><%= bounty.type %></td>
        <td><%= bounty.author_id %></td>
        <td><%= bounty.recipient_id %></td>
        <td><%= link_to 'Show', bounty %></td>
        <td><%= link_to 'Edit', edit_bounty_path(bounty) %></td>
        <td><%= link_to 'Destroy', bounty, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bounty', new_bounty_path %>
