<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @bounty.description %>
</p>

<p>
  <strong>Value:</strong>
  <%= @bounty.value %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @bounty.deadline %>
</p>

<p>
  <strong>Type:</strong>
  <%= @bounty.type %>
</p>

<p>
  <strong>Author:</strong>
  <%= @bounty.author_id %>
</p>

<p>
  <strong>Recipient:</strong>
  <%= @bounty.recipient_id %>
</p>

<%= link_to 'Edit', edit_bounty_path(@bounty) %> |
<%= link_to 'Back', bounties_path %>
