
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Virtue Vice</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" placeholder="Username" class="form-control">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Sign in</button>
      </form>
    </div><!--/.navbar-collapse -->
  </div>
</nav>

<!-- Main jumbotron -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Trends</h2>
        <p><a class="btn btn-default" href="#" role="button">+</a></p>
      </div>

      <div class="col-md-4">
        <h2>Cards</h2>
        <p><a class="btn btn-default" href="#" role="button">+</a></p>
      </div>

      <div class="col-md-4">
        <h2>Bounties</h2>
        <p><a class="btn btn-default" href="#" role="button">+</a></p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Activities</h2>
      <p><a class="btn btn-default" href="#" role="button">+</a></p>
    </div>

    <div class="col-md-4" ng-controller="TaskCtrl">
      <h2>Tasks</h2>
      <table class="table-bordered table-striped">
        <tr ng-repeat="task in tasks">
          <td>
            <b>{{task.name}}</b>
            <a class="btn btn-default" href="#" role="button" ng-click="deleteTask(task.id)">-</a>
            <br />
            Points: {{task.points}} <br />
            Due Date: {{task.due_date}}
          </td>
        </tr>
      </table>
      <p><a class="btn btn-default" href="#" role="button" ng-click="expandTaskForm()">+</a></p>
      <div id="newTaskForm">
        Name: <input type="text" id="name" ng-model="newTaskForm.name"> <br />
        Due Date: <input type="text" id="duedate" ng-model="newTaskForm.duedate"> <br />
        Points: <input type="text" id="points" ng-model="newTaskForm.points"> <br />
        <div>
          <a class="btn btn-default btn-xs" href="#" role="button" ng-click="collapseTaskForm()">Cancel</a>
          <a class="btn btn-primary btn-xs" href="#" role="button" ng-click="submitTaskForm()">Submit</a>
        </div>
      </div>

    <div ng-show></div>
    </div>

    <div class="col-md-4">
      <h2>Vices</h2>
      <p><a class="btn btn-default" href="#" role="button">+</a></p>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; 5or10 Studios 2014</p>
  </footer>
</div> <!-- /container -->


<h1>SCRAPS BELOW HERE</h1>

<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>

<div ng-controller="DashboardCtrl">
site/index goes here!

<a href="#taco">go to taco </a>
<a href="#hotdog">go to hotdog </a>

<div ng-view></div>

</div>



<% @users.each do |user| %>

  <h1>
    <%= user.display_name %>
  </h1>
  <div>
    <%= user.login %>
  </div>
  <div>
    <%= user.password %>
  </div>

  <h3>
    Bounties Offered
  </h3>
  <% user.bounties_offered.each do |bounty| %>
    <%= bounty.description %>
  <% end %>

  <h3>
    Bounties Received
  </h3>
  <% user.bounties_received.each do |bounty| %>
    <%= bounty.description %>
  <% end %>

  <h3>
    Activities
  </h3>
  <% user.activities.each do |activity| %>
    <%= activity.verb %>
    <%= activity.amount %>
    <%= activity.subject %>
    <%= activity.interval %>
    <%= activity.relationship %>
    <%= activity.points %>
  <% end %>

  <h3>
    Single Actions
  </h3>
  <% user.single_actions.each do |single_action| %>
    <%= single_action.name %>
    <%= single_action.is_complete %>
    <%= single_action.due_date %>
    <%= single_action.points %>
  <% end %>

  <h3>
    Cards Offered
  </h3>
  <% user.cards_offered.each do |offered_card| %>
    <%= offered_card.category %>
    <%= offered_card.description %>
    <%= offered_card.value %>
    <%= offered_card.date %>
  <% end %>

  <h3>
    Cards Received
  </h3>
  <% user.cards_received.each do |received_card| %>
    <%= received_card.category %>
    <%= received_card.description %>
    <%= received_card.value %>
    <%= received_card.date %>
  <% end %>

<% end %>
