<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @opportunity.name %>
</p>

<p>
  <strong>Is complete:</strong>
  <%= @opportunity.is_complete %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @opportunity.due_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @opportunity.user_id %>
</p>

<p>
  <strong>Points:</strong>
  <%= @opportunity.points %>
</p>

<%= link_to 'Edit', edit_opportunity_path(@opportunity) %> |
<%= link_to 'Back', opportunities_path %>
