<h1>Listing habits</h1>

<table>
  <thead>
    <tr>
      <th>Verb</th>
      <th>Amount</th>
      <th>Subject</th>
      <th>Interval</th>
      <th>User</th>
      <th>Points</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @habits.each do |habit| %>
      <tr>
        <td><%= habit.verb %></td>
        <td><%= habit.amount %></td>
        <td><%= habit.subject %></td>
        <td><%= habit.interval_id %></td>
        <td><%= habit.user_id %></td>
        <td><%= habit.points %></td>
        <td><%= link_to 'Show', habit %></td>
        <td><%= link_to 'Edit', edit_habit_path(habit) %></td>
        <td><%= link_to 'Destroy', habit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Habit', new_habit_path %>
